[build]
builder = "nixpacks"
buildCommand = "bash -c 'echo DATABASE_URL=postgresql://dummy:dummy@localhost:5432/dummy > .env' && npm install && npx prisma generate && npm run build:backend"

[deploy]
startCommand = "rm -f .env && npx prisma migrate deploy && node dist/main"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/api/v1/health"
healthcheckTimeout = 100
